{% extends 'index.html'%}
{% load static %}

{% block content %}


<div class="container-fluid">
  
      <div class="row gx-2 pt-3">

          <div class="col-md-12 mt-4" style="border:1px solid #80808029; padding:15px;">
              
              <h4 class="text-center mb-3">doctor</h4>
              <div style="display: flex; align-items: center;justify-content: center;">
                <a href="/upload"><button>Upload post</button></a>
                <a href="/viewp"><button>view post</button></a>
            </div>
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Firstname</th>
                          <th scope="col">Lastname</th>
                          <th scope="col">Username</th>
                          <th scope="col">Email</th>
                      </tr>
                  </thead>
                  <tbody>

                      {% for data in  doctor %}
                      <tr>
                        <td>{{data.user.first_name}}</td>
                        <td>{{data.user.last_name}}</td>
                        <td>{{data.user.username}}</td>
                        <td>{{data.user.email}}</td>
                        
            
                      </tr>
                      {% endfor %}
                    
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}
