
{% extends 'index.html'%}
{% load static %}

{% load widget_tweaks %}

{% block content %}

    <section id="contact" class="get-started">
        <div class="container">
          <div class="row text-center">
            <h1 class="display-3 fw-bold text-capitalize">Sign in</h1>
            <div class="heading-line"></div>
          </div>
          
          
            <div class="col-12 col-lg-6 bg-white shadow p-3">
              <div class="form w-100 pb-2">
                <h4 class="display-3--title mb-5">Login</h4>
                <form method="post">
                  {% csrf_token %}
                  <div class="container register-form">
                    <div class="form">
                      <div class="note">
                        <p> Login Page</p>
                      </div>
              
                      <div class="form-content">
                        <div class="row">
                          <div class="col-md-6">
              
                            <div class="form-group">
                              {% render_field form.username class="form-control" placeholder="Username" %}
                            </div>
              
                          </div>
                          <div class="col-md-6">
              
                            <div class="form-group">
                              {% render_field form.password class="form-control" placeholder="Password" %}
                            </div>
              
                          </div>
                        </div>
                        <button type="submit" class="btnSubmit" style="background-color: black;
                        color: aliceblue;">Login</button>
                        <div class="text-center">Do not have account? <a href="signup">Signup here</a></div>
                      </div>
                    </div>
                  </div>
              
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
