{% extends 'index.html'%}
{% load static %}



{% block content %}
  <section id="contact" class="get-started">
    <div class="container">
      <div class="row text-center">
        <h1 class="display-3 fw-bold text-capitalize">Sign up</h1>
        <div class="heading-line"></div>
      </div>
     
        <div class="col-12 col-lg-6 bg-white shadow p-3">
          <div class="form w-100 pb-2">
            <h4 class="display-3--title my-0  ">Register</h4>
            <form method="POST" action="{% url 'signup'%}">
              {% csrf_token %}
              <label for="selct">Who are you?</label>
              <select name="domain" id="selct">
                  <!-- <option value="Admin">Admin</option> -->
                  <option value="Doctor">Doctor</option>
                  <option value="Patient">Patient</option>
              </select>
              <button type="submit" style="background-color: black;
              color: aliceblue;">Submit</button>
              <br><br><br><br><br><br>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}